/* ========== RESET E BASE ========== */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--color-dark-bg);
	color: var(--color-text-white);
	min-height: 100vh;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}
